<%= stylesheet_link_tag "movies", media: "all" %>
<header>
  <h1>映画一覧</h1>
</header>

<%= form_with url: movies_path, method: :get do %>
  <div>
    <%= label_tag "lbl_txtbox", "キーワード検索" %>
    <%= text_field_tag :keyword, params[:keyword] %>
  </div>

  <div>
    <%= radio_button_tag :is_showing, "all", params[:is_showing] == "all" %>
    <%= label_tag "rb_all", "すべて" %>
    
    <%= radio_button_tag :is_showing, "1", params[:is_showing] == "1" %>
    <%= label_tag "rb_showing", "公開中" %>

    <%= radio_button_tag :is_showing, "0", params[:is_showing] == "0" %>
    <%= label_tag "rb_notshowing", "公開予定" %>
  </div>

  <%= submit_tag "検索" %>
<% end %>

<table border="1">
  <tr>
    <th>ID</th>
    <th>映画タイトル</th>
    <th>公開年</th>
    <th>上映中か</th>
    <th>概要</th>
    <th>画像URL</th>
    <th>作成日時</th>
    <th>更新日時</th>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td>
      <a href="/movies/<%= movie.id %>"><%= movie.id %></a>
      </td>
      <td><%= movie.name %></td>
      <td><%= movie.year %></td>
      <td><%= movie.is_showing %></td>
      <td><%= simple_format(movie.description) %></td>
      <td><a href=<%= movie.image_url %>><%= movie.image_url %></a></td>
      <td><%= movie.created_at %></td>
      <td><%= movie.updated_at %></td>
    </tr>
  <% end %>
</table>