<header>
  <h1>座席一覧</h1>
</header>

<% if flash[:notice] %>
  <p style="color: green;"><%= flash[:notice] %></p>
<% end %>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<table>

  <tr class="sheetbox">
  <% @sheets.each do |sheet| %>
    <% if sheet.row == 'a' %>
      <% if @reservations.find_by(schedule_id: @schedule.id, sheet_id: sheet.id, date: params[:date]).present? %>
        <td class="reservedsheet">
          <p><%= sheet.row %>-<%= sheet.column %></p>
        </td>
      <% else %>
        <td class="sheet">
          <a href="<%=new_movie_schedule_reservation_path(@movie, @schedule, sheet_id: sheet.id, date: params[:date])%>"><%= sheet.row %>-<%= sheet.column %></a>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>
  
  <tr class="sheetbox">
  <% @sheets.each do |sheet| %>
    <% if sheet.row == 'b' %>
      <% if @reservations.find_by(schedule_id: @schedule.id, sheet_id: sheet.id, date: params[:date]).present? %>
        <td class="reservedsheet">
          <p><%= sheet.row %>-<%= sheet.column %></p>
        </td>
      <% else %>
        <td class="sheet">
          <a href="<%=new_movie_schedule_reservation_path(@movie, @schedule, sheet_id: sheet.id, date: params[:date])%>"><%= sheet.row %>-<%= sheet.column %></a>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>

  <tr class="sheetbox">
  <% @sheets.each do |sheet| %>
    <% if sheet.row == 'c' %>
      <% if @reservations.find_by(schedule_id: @schedule.id, sheet_id: sheet.id, date: params[:date]).present? %>
        <td class="reservedsheet">
          <p><%= sheet.row %>-<%= sheet.column %></p>
        </td>
      <% else %>
        <td class="sheet">
          <a href="<%=new_movie_schedule_reservation_path(@movie, @schedule, sheet_id: sheet.id, date: params[:date])%>"><%= sheet.row %>-<%= sheet.column %></a>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>

</table>