<%= stylesheet_link_tag "movies", media: "all" %>
<header>
  <h1>映画詳細</h1>
</header>

<% if flash[:notice] %>
  <p style="color: green;"><%= flash[:notice] %></p>
<% end %>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<h2>(ID:<%= @movie.id %>)  <%= @movie.name %></h2>
<img src=<%= @movie.image_url %>> </img> 

<p> <%= @movie.year %>年公開   
<% if @movie.is_showing==true then %>
  ☆上映中
  <% else %>
  ☆上映予定
<% end %>
</p>
<p>--------------------------------</p>
<%= simple_format(@movie.description) %>
<p>--------------------------------</p>
<h2>上映スケジュール</h2>
<table border="1">
  <tr>
    <th>ID</th>
    <th>映画ID</th>
    <th>上映時間</th>
    <th>作成日時</th>
    <th>更新日時</th>
  </tr>
  <% @schedules.each do |sc| %>
  <tr>
    <td><%= sc.id %></td>
    <td><%= sc.movie_id %></td>
    <td><%= sc.start_time.strftime("%H:%M") %>~<%= sc.end_time.strftime("%H:%M") %></td>
    <td><%= sc.created_at %></td>
    <td><%= sc.updated_at %></td>
  </tr>
  <% end %>
</table>
<br>
<h2>予約</h2>
<%= form_with(url:movie_reservation_path(@movie), method: :get) do |f| %>
  
  <div>
    <%= f.label :date, "日付を選択" %>
    <%= f.select :date, (0..6).map{ |i| [Date.today.advance(days: i).strftime("%Y-%m-%d"), Date.today.advance(days: i) ]} %>
  </div>

  <div>
    <%= f.label :schedule_id, "スケジュールを選択" %>
    <%= f.select :schedule_id, @schedules.map{ |sc| ["#{sc.start_time.strftime("%H:%M")}-#{sc.end_time.strftime("%H-%M")}", sc.id]} %>
  </div>

  <%= f.submit "座席を確認する" %>

<% end %>
<br>
<br>
<p>作成日時: <%= @movie.created_at %></p>
<p>更新日時: <%= @movie.updated_at %></p>
<br>