<header>
  <h1>予約一覧<管理者画面></h1>
</header>

<% if flash[:notice] %>
  <p style="color: green;"><%= flash[:notice] %></p>
<% end %>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<table border="1">

  <tr>
  <th>ID</th>
  <th>映画ID</th>
  <th>スクリーン</th>
  <th>座席</th>
  <th>日時</th>
  <th>名前</th>
  <th>メールアドレス</th>
  </tr>

  <% @reservations.each do |re| %>
    <tr>
    <td> <%= re.id %> </td>
    <td> <%= re.schedule.movie.name %> </td>
    <td> <%= re.screen.name %> </td>
    <td> <%= re.sheet.row %>-<%= re.sheet.column %> </td>
    <td> <%= re.date %>  <%= re.schedule.start_time.strftime("%H:%M") %>~<%= re.schedule.end_time.strftime("%H:%M") %></td>
    <td> <%= re.name %> </td>
    <td> <%= re.email %> </td>
    </tr>
  <% end %>
</table>