<header>
  <h1>座席一覧</h1>
</header>

<table>

    <tr class="sheetbox">
    <% @sheets.each do |sheet| %>
      <% if sheet.row == 'a' %>
        <td class="sheet">
          <%= sheet.row %>-<%= sheet.column %>
        </td>
      <% end %>
    <% end %>
    </tr>
    
    <tr class="sheetbox">
    <% @sheets.each do |sheet| %>
      <% if sheet.row == 'b' %>
        <td class="sheet">
          <%= sheet.row %>-<%= sheet.column %>
        </td>
      <% end %>
    <% end %>
    </tr>

    <tr class="sheetbox">
      <% @sheets.each do |sheet| %>
        <% if sheet.row == 'c' %>
        <td class="sheet">
          <%= sheet.row %>-<%= sheet.column %>
        </td>
      <% end %>
    <% end %>
    </tr>

</table>