<%= stylesheet_link_tag "schedules", media: "all" %>
<header>
  <h1>スケジュール一覧</h1>
</header>

<% if flash[:notice] %>
  <p style="color: green;"><%= flash[:notice] %></p>
<% end %>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<% @movies.each do |movie| %>
  <% if movie.schedules.present? %>
    <h2> <%= movie.id %>: <%= movie.name %> </h2>
    <ul>
      <% movie.schedules.each do |sc| %>
        <li>
          <a href="/admin/schedules/<%= sc.id %>"><%=sc.start_time%>~<%=sc.end_time%></a>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>